@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  background-color:#34495e;
  color:#FFF;
  font-family: sans-serif;
  padding:0;
  margin:0;
}
#top {
  padding:20px;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size:30px;
  margin:0 0 10px 0;
}
input[type="submit"], input[type="button"], a.button {
	background-color:#FFF;
	color:#000;
	padding:5px;
	border: 5px solid #FFF;
	text-decoration:none;
	display:inline-block;
  height:40px;
  font-size:16px;
  font-family:sans-serif;
  margin:0 0 0 10px;
}
input[type="submit"]:hover, input[type="button"]:hover, a.button:hover {
	border: 5px solid #DDD;
}
input[type="text"] {
  display:inline-block;
  height:20px;
  width: 290px;
  padding: 10px;
  font-size: inherit;
  border: 0;
}
#result {
  margin-top:10px;
  padding:0 20px;
  overflow:hidden;
  background-color:#2c3e50;
  max-height:0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.solved #result {
  max-height:2000px;
  padding:20px;
  color:#FFF;
}
.answer {
  clear:both;
  text-align:center;
}
.final {
  color:#FFF;
  font-size:60px;
  text-align:left;
  font-family: 'Open Sans', sans-serif;
}
.error {
  background-color:#6B1010;
  padding:10px;
  opacity:0.7;
}