@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  background-color:#34495e;
  color:#FFF;
  font-family: sans-serif;
  padding:0;
  margin:0;
  text-align:center;
}
#github {
  position:absolute;
  top:0;
  right:0;
  padding:20px;
  background-color:#123;
  color:#FFF;
  text-decoration:none;
}
#github:hover {
  background-color:#234;
}
#top {
  padding:20px;
  display:inline-block;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size:30px;
  margin:0 0 10px 0;
}
input[type="submit"], input[type="button"], a.button {
	background-color:#FFF;
	color:#000;
	padding:5px;
	border: 5px solid #FFF;
	text-decoration:none;
	display:inline-block;
  height:40px;
  font-size:16px;
  font-family:sans-serif;
  margin:0 0 0 10px;
}
input[type="submit"]:hover, input[type="button"]:hover, a.button:hover {
	border: 5px solid #DDD;
}
input[type="text"] {
  display:inline-block;
  font-size: inherit;
  padding: 10px;
  border: 0;
}
input[type="text"]:focus {
  outline: 0;
  background-color:#EEE;
}
#function {
  margin-bottom:20px;
}
#function label {
  display:inline-block;
  height:40px;
  line-height:40px;
  margin-right:5px;
}
#function input[type="text"] {
  margin:0;
  width:85%;
  display:inline-block;
  height:20px;
  float:right;
}
#range {
  color: #9AB;
}
#range input[type="text"] {
  width:30px;
  height:15px;
  text-align:center;
  color: #9AB;
  background-color:#2c3e50;
}
#range input[type="text"]::-webkit-input-placeholder{
  color: #9AB;
}
#range input[type="text"]:-moz-placeholder{
  color: #9AB;
}
#range input[type="text"]::-moz-placeholder {
  color: #9AB;
}
#range input[type="text"]:-ms-input-placeholder {
  color: #9AB;
}
#range input[type="text"]:focus {
  background-color:#2e4052;
}
.rangeSection {
  display:inline-block;
}
#graph {
  margin:20px auto 0 auto;
  width: 100%;
  height:50px;
}
#result {
  margin-top:10px;
  border-top:20px solid #2c3e50;
  border-bottom:20px solid #2c3e50;
  overflow:hidden;
  background-color:#2c3e50;
  text-align:center;
  max-height:0;
  margin-bottom:20px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.open #result {
  max-height:2000px;
  padding:20px;
  color:#FFF;
}
canvas {
  margin-bottom: 50px;
}
canvas:last-child {
  margin-bottom: 10px;
}
.answer {
  clear:both;
  text-align:center;
}
.final {
  color:#FFF;
  font-size:60px;
  text-align:left;
  font-family: 'Open Sans', sans-serif;
}
.error {
  background-color:#6B1010;
  padding:10px;
  opacity:0.7;
  display:inline-block;
  width:500px;
  text-align:left;
}

/* Pretty formula styles */
.formula {
  font-family: 'Open Sans', sans-serif;
  padding:0 10px;
  margin-bottom:10px;
}
.group {
  display:inline-block;
  vertical-align:baseline;
  text-align:center;
  margin:1px 1px 0 0;
  padding:0;
}
.division {
  vertical-align: middle;
}
.operator {
  padding:5px;
}
.exponent {
  font-size: 0.7em;
  vertical-align:super;
}
.denom {
  clear:both;
  display:block;
  border-top:1px solid #FFF;
  padding:0 20px;
}

@media all and (max-width:700px) {
  #github {
    position:relative;
    width:auto;
    display:block;
  }
  h1 {
    font-size:24px; 
  }
}

@media all and (max-width:500px) {
  #top {
    display:block;
    position:relative;
  }
  #function label {
    width:10%;
    text-align:right;
  }
  #function input[type="text"] {
    width:70%;
  }
  .rangeSection {
    display:block;
    margin-bottom:5px;
  }
}